# Compiled Object files *.obj  .obj is a model file format I use sometimes
*.slo
*.lo
*.o

# Precompiled Headers will require recompiling with every pull if we work in the working directory so... have to think about this one the .pch is 500 mb
*.gch
*.pch

# Compiled Dynamic libraries *.dll should need dlls for plugins
*.so
*.dylib

# Fortran module files dont think well use fortran lol commenting this out *.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.pp

#Blender Simulations
*.bphys

# Blender Autosaves
*.blend1

# Unreal temp files
ReprisalsHeir/Intermediate/
ReprisalsHeir/Saved/
gameMain/Intermediate/
gamemain/Saved/

# if this doesnt work may need to set the files weve already commmited int hose directorys (tracked) to untracked using files #tracked before can be untracked by running git rm --cached filename


# Windows
Thumbs.db
*.log
*.tmp
Models/UV Unwraps/Subs/USA/SSN571/ssn571_bridge_ALLMAPS_6k.psd
ReprisalsHeir/Saved/Logs/ReprisalsHeir.log
ReprisalsHeir/Saved/Logs/ReprisalsHeir-backup-2020.01.31-21.10.57.log
ReprisalsHeir/Saved/Logs/ReprisalsHeir-backup-2020.01.24-23.11.58.log
ReprisalsHeir/Saved/Logs/ReprisalsHeir-backup-2020.01.24-22.32.51.log
ReprisalsHeir/Saved/Logs/ReprisalsHeir-backup-2020.01.24-22.29.21.log
ReprisalsHeir/Saved/Config/Windows/EditorPerProjectUserSettings.ini
ReprisalsHeir/Saved/Config/Windows/Editor.ini
ReprisalsHeir/Saved/Config/CrashReportClient/UE4CC-Windows-E398979E4FB4BA22A4D2AFA9E331BEE7/CrashReportClient.ini
ReprisalsHeir/Saved/Config/CrashReportClient/UE4CC-Windows-D3605D7443EB3314C9441598517A3574/CrashReportClient.ini
ReprisalsHeir/Saved/Config/CrashReportClient/UE4CC-Windows-CC61A21049B9AFA2CC94DC94528FE32C/CrashReportClient.ini
ReprisalsHeir/Saved/Config/CrashReportClient/UE4CC-Windows-9530C17B43CBD5E84A2E6A91409F2350/CrashReportClient.ini
ReprisalsHeir/Saved/Config/CrashReportClient/UE4CC-Windows-6A7B00A948C34E088BB7449827950495/CrashReportClient.ini
ReprisalsHeir/Saved/AutoScreenshot.png
ReprisalsHeir/Saved/Autosaves/Game/FirstPersonBP/Blueprints/FirstPersonCharacter_Auto1.uasset
ReprisalsHeir/Intermediate/Config/CoalescedSourceConfigs/Input.ini
ReprisalsHeir/Intermediate/CachedAssetRegistry.bin
ReprisalsHeir/Saved/Logs/ReprisalsHeir.log
ReprisalsHeir/Saved/Logs/ReprisalsHeir-backup-2020.01.31-21.10.57.log
ReprisalsHeir/Saved/Logs/ReprisalsHeir-backup-2020.01.24-23.11.58.log
ReprisalsHeir/Saved/Logs/ReprisalsHeir-backup-2020.01.24-22.32.51.log
ReprisalsHeir/Saved/Logs/ReprisalsHeir-backup-2020.01.24-22.29.21.log
ReprisalsHeir/Saved/Config/Windows/EditorPerProjectUserSettings.ini
ReprisalsHeir/Saved/Config/Windows/Editor.ini
ReprisalsHeir/Saved/Config/CrashReportClient/UE4CC-Windows-E398979E4FB4BA22A4D2AFA9E331BEE7/CrashReportClient.ini
ReprisalsHeir/Saved/Config/CrashReportClient/UE4CC-Windows-D3605D7443EB3314C9441598517A3574/CrashReportClient.ini
ReprisalsHeir/Saved/Config/CrashReportClient/UE4CC-Windows-CC61A21049B9AFA2CC94DC94528FE32C/CrashReportClient.ini
ReprisalsHeir/Saved/Config/CrashReportClient/UE4CC-Windows-9530C17B43CBD5E84A2E6A91409F2350/CrashReportClient.ini
ReprisalsHeir/Saved/Config/CrashReportClient/UE4CC-Windows-6A7B00A948C34E088BB7449827950495/CrashReportClient.ini
ReprisalsHeir/Saved/AutoScreenshot.png
ReprisalsHeir/Saved/Autosaves/Game/FirstPersonBP/Blueprints/FirstPersonCharacter_Auto1.uasset
ReprisalsHeir/Intermediate/Config/CoalescedSourceConfigs/Input.ini
ReprisalsHeir/Intermediate/CachedAssetRegistry.bin
*.log
ReprisalsHeir/Content/Weapon_Pack/Textures/Props/Interior/T_Banners_OcclusionRoughnessMetallic.uasset
ReprisalsHeir/Saved/Config/Windows/Editor.ini
ReprisalsHeir/Saved/AutoScreenshot.png
ReprisalsHeir/Saved/Autosaves/PackageRestoreData.json
ReprisalsHeir/Intermediate/CachedAssetRegistry.bin
ReprisalsHeir/Saved/AutoScreenshot.png
ReprisalsHeir/Saved/AutoScreenshot.png
ReprisalsHeir/Saved/AutoScreenshot.png
ReprisalsHeir/Saved/AutoScreenshot.png
ReprisalsHeir/Intermediate/CachedAssetRegistry.bin
ReprisalsHeir/Intermediate/ReimportCache/3688439234.bin
